body{
  font-family: Arial, 
  Helvetica, sans-serif;
}

header{
  background: #F1F3FF;
  padding-left: 5rem;
}

h2{
  font-size: 24px;
  line-height: 36px;
}

.side{
  padding: 20px 20px;
  box-shadow: -4px 1px 15px -5px rgba(0,0,0,0.73);
  margin-top: -6%;
  z-index: 999999;
  position: relative;
  border-radius: 8px;
  background-color: white;
}

.navigasi {
  padding: 0.625rem 8rem;
}

.tombol{
  background: #5CB85F;    
  border-radius: 2px;
  color: white;
}

.tomboldanger{
  background: #ff0000;    
  border-radius: 2px;
  color: white;
}

.main{
  margin: 0 0 0 8.5rem;
  align-items: center;
}

.isi p{
  max-width: 70%;
  padding: 1rem 0;
  width: 511px;
}

.best h2{
  font-size: 24px;
  line-height: 36px;
  max-width: 80%;
  margin-top: 1rem;
}

.serfis p{
  max-width: 80%;
  padding: 1rem 0;
  /* height: 75px;
  margin-bottom: 4rem; */
}

.centang img{
  margin: 0.625rem 0;
}

.main2{
  margin: 0 8rem 0 8rem;
}

.row h3{
  font-size: 16px;
  line-height: 24px;
}

.card p{
  font-size: 14px;
}

.card-body h3{
  margin: 0.625rem 0;
}

.item {
  /* height: 270px; */
  background: #F1F3FF;
  margin-right: 20px;
  padding: 1.5rem 2rem;
}

.Testimonial-component {
  text-align: center;
}

.testi p{
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  /* width: 410px;
  height: 80px; */
}

.gambar img{
  width: 100%;
  padding: 0;
  padding-top: 2rem;
}

.testi h5{
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
}

.judultesti h1{
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 1rem;
}

.judultesti p{
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 3rem;
}

.biru{
  background: #0D28A6;
  border-radius: 13px;
  margin-top: 6rem;
}

.form{
  padding: 1rem;
}

.cardcari{
  box-shadow: -4px 1px 15px -5px rgba(0,0,0,0.73);
  margin-top: -6%;
}

.biru p{
  margin-left: 23%;
  max-width: 53%;
}

.faq{
  margin-top: 7rem;
}

.faq h5{
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}

.faq p{
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.card{
  margin: 1rem 0;
  border-radius: 1px;
}

.kartu button{
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: black;
}

.cwk{
  margin-top: 5rem;
}

@media (max-width: 575.98px) { 
  .mid{
      text-align: center;
  }
  .bintang{
      margin: auto;
  }
  .side{
      padding: 0 15px;
  }
  .copyright{
      margin-top: 15px;
  }
}

.c{
   width: 63%;
}

